{% extends 'base.jinja2' %}
{% block content %}
  <body>
    <h1>Settings</h1>
    <form action="/apply_settings">
      Zoom
      <input style="vertical-align: middle" name="zoom" type="range" min="0.5" max="2" step="0.1" value="{{ session['zoom'] }}"/>
      Color
      <input style="vertical-align: middle" name="color" type="range" min="0" max="1" step="0.01" value="{{ session['color'] }}"/>
      <button style="vertical-align: middle; padding: 5px 10px; margin: 10px; background-color: steelblue; color: white; border: 0px;" name="submit" type="Submit">Apply</button>
    </form>

    {% if in_progress_books %}
      <h1>In progress</h1>
      <ul>
        {% for updated, book in in_progress_books %}
          <li>
            {% set progress = (book.progress.chapter_index + 1)|string + " / " + book.chapters_count|string %}
            {% set updated_datetime_str = humanize.naturaltime(updated) %}
            <a href="{{ url_for('continue_reading', book_id=book.id) }}">{{ book.title }}</a>&nbsp;&nbsp;({{ progress }})&nbsp;&nbsp;-&nbsp;&nbsp;<i>{{ updated_datetime_str }}</i>&nbsp;&nbsp;<a href="{{ url_for('remove_progress', book_progress_id=book.progress.id) }}">[X]</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if unread_books %}
      <h1>Unread</h1>
      <ul>
        {% for book in unread_books %}
          <li>
            <a href="{{ url_for('continue_reading', book_id=book.id) }}">{{ book.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if finished_books %}
      <h1>Finished</h1>
      <ul>
        {% for book in finished_books %}
          <li>
            <a href="{{ url_for('continue_reading', book_id=book.id) }}">{{ book.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
{% endblock %}
