{% extends 'base.jinja2' %}
{% block content %}
  <body>
    <h1>Settings</h1>
    <form id="settingsform" action="/apply_settings">
      Zoom
      <input style="vertical-align: middle" name="zoom" type="range" min="0.5" max="1.5" step="0.1" value="{{ session.get('zoom', 1) }}"/>
      Color
      <input style="vertical-align: middle" name="color" type="color" value="{{ session.get('color', 0) }}"/>
      <input style="vertical-align: middle; padding: 5px 10px; margin: 10px; background-color: steelblue; color: white; border: 0px;" type="Submit"/ value="Apply">
    </form>
    <form action="/trigger_load_books">
      <input style="border-radius: 5px; vertical-align: middle; padding: 5px 10px; margin: 10px; background-color: steelblue; color: white; border: 0px;" type="Submit" value="Reload books"/>
    </form>
    <h1>Search</h1>
    <form method="GET">
      <center>
        <input name="q" placeholder="search (eg: title:'Book Title' author:'Author Name' tag:fiction)" style="border-radius: 10px; padding: 6px; width: 95%" {% if q %}value="{{q|escape}}"{% endif %}>
      </center>
    </form>
    {% if in_progress_books %}
      <h1>In progress</h1>
      <center>
      <div class="columns">
        {% for updated, book, book_progress in in_progress_books %}
          <div class="item">
            {% set progress = (book_progress.chapter_index + 1)|string + " / " + book.chapters_count|string %}
            {% set updated_datetime_str = humanize.naturaltime(updated) %}
            <a class="listitem" target="_blank" href="{{ url_for('continue_reading', book_id=book.id) }}">{{ book.title }}
            {% set tags = book.tags|join(", ", "name") %}{% if tags %}[{{ tags }}]{% endif %}
            <br/>
            <img loading="lazy" class="index-cover" src="{{ 'static/cover-' + book.id|string + '.jpg' }}"/></a>
            <br/>
            {{ progress }}&nbsp;&nbsp;-&nbsp;&nbsp;<i>{{ updated_datetime_str }}</i>&nbsp;&nbsp;<a href="{{ url_for('remove_progress', book_progress_id=book_progress.id) }}">[X]</a>
            <br/>
            <br/>
          </div>
        {% endfor %}
      </div>
      </center>
      {% endif %}
      {% if unread_books %}
      <h1>Unread</h1>
      <center>
        <div class="columns">
          {% for book in unread_books %}
            <div class="item">
              {% if loop.index == 1 or book.author != unread_books[loop.index - 2].author %}
                <h2>{{ book.author }}</h2>
              {% endif %}
          <a class="listitem" target="_blank" href="{{ url_for('continue_reading', book_id=book.id) }}">{{ book.title }}
          {% set tags = book.tags|join(", ", "name") %}{% if tags %}[{{ tags }}]{% endif %}
          <br/>
          <img loading="lazy" class="index-cover" src="{{ 'static/cover-' + book.id|string + '.jpg' }}"/></a>
         <br/>
         <br/>
         </div>
          {% endfor %}
      </div>
      </center>
    {% endif %}
    {% if finished_books %}
      <h1>Finished</h1>
      <div class="columns">
        {% for book in finished_books %}
          <div class="item">
          <a data-image="{{ 'static/cover-' + book.id|string + '.jpg' }}" class="hover-text listitem" target="_blank" href="{{ url_for('continue_reading', book_id=book.id) }}">{{ book.title }}
            <br/>
            <img loading="lazy" class="index-cover" src="{{ 'static/cover-' + book.id|string + '.jpg' }}"/></a>
            <br/>
            <br/>
          </div>
          {% endfor %}
      </div>
    {% endif %}
    <br/><br/>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      var form = document.getElementById("settingsform");
        console.log(form)
        var inputs = form.querySelectorAll("input[type='range'], input[type='color']");

        inputs.forEach(function (input) {
          input.addEventListener("change", function () {
            form.submit();
          });
        });

        form.querySelector("input[type='submit']").style.display = "none";
      });

      // Reference to the hover image element
      const hoverImage = document.getElementById('hover-image');

      // Add event listeners to each text with the class "hover-text"
      document.querySelectorAll('.hover-text').forEach(text => {
        text.addEventListener('mouseenter', (event) => {
          // Set the image source to the data-image attribute of the hovered text
          hoverImage.src = event.target.getAttribute('data-image');
          hoverImage.style.display = 'block';
        });

        text.addEventListener('mousemove', (event) => {
          // Position the image near the mouse pointer
          hoverImage.style.left = `${event.pageX + 15}px`;
          hoverImage.style.top = `${event.pageY + 15}px`;
        });

        text.addEventListener('mouseleave', () => {
          hoverImage.style.display = 'none'; // Hide the image when not hovering
        });
      });
      </script>
  </body>
{% endblock %}
